.logo {
  width: 350px;
}

/***** NAVIGATION *****/
nav button {
  display: none;
}

nav ul {
  display: block;
}

nav li {
  width: 33%;
  float: left;
}
nav li.active {
  background-color: rgb(0, 0, 0);
  font-size: 125%;
}
nav a:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 5px #888888;
  border-radius: 10px;
}
